* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}
:root {
    --primary: white;
    --secondary:black;
}
.heading {
    font-size: 3rem;
    text-transform: capitalize;
}
.sub_heading {
    font-size: 1.5rem;
    font-style: italic;
    margin: 1rem 0;
}
.link_text {
    background-color: white;
    color: black;
    border: none;
    padding: 10px px;
    text-align: center;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
.link_text:hover {
    background-color: black;
    color: white;
}
.form_field{
    width: 40vw;
    
}
.sub_container{
    margin:1rem 0;
}
.container{
  
  max-width: 90vw;
  margin: 1rem auto;
}
.form_field input{
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}
.button{
    border:1px solid var(--secondary);
    max-width: 20vw;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.flex_item_between{
    display: flex;
    color:var(--primary);
    justify-content: space-between;
}
.flex_item_center{
    display: flex;
    justify-content: center;
    align-items: center;

}
.list_item{
    list-style-type: none;
    margin-right: 1rem;
}
a{
    text-decoration: none;
}
.errorMessage{
    color:Red;
}